<!DOCTYPE html>
<html>
    <head>
        <title>WhiteBoard</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet">
    </head>
    <body>
    
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    
    <div id="landing-header">
        <div class="inner center-block">
                <h1 style="color:#df691a;">Welcome to<span style=" font-family: 'Lobster Two', cursive;"> <span style="color:#fff;">White</span>Board!</h1></span>
                <p class="text-center">WhiteBoard is an educational resource hive where you can sign up and register
                    as a student to partake in some of our courses.
                </p>
                <a href="/courses" class="btn btn-lg" id="courses">View All Courses</a>
                
        </div>

    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<% include partials/footer %>